<h1>My Best cocktails</h1>
<h2 class="btn btn-ghost" id="link"><%= link_to "Add a cocktail recipes", new_cocktail_path  %></h2>

<ul>
    <% @cocktails.each do |cocktail| %>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://assets.afcdn.com/recipe/20180705/80255_w2048h1536c1cx2774cy1849.webp" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">
          <li><%= link_to cocktail.name, cocktail_path(cocktail)  %></li>
          <%= link_to cocktail_path(cocktail), method: :delete, data: { confirm: "Are you sure?" } do %>
                  <i class="fa fa-trash destroy_dose"></i>
          <% end %>
    </p>
  </div>
</div>
    <% end %>
</ul>


