<h1>Create a New Cocktail</h1>

<div class="container">
  <div class="row">
    <div class="col-4">
      <%= simple_form_for(@cocktail) do |f| %>
        <%= f.input :name %>
        <%= f.association :ingredients %>
        <%= f.submit class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
